:root{
    --color-primary: #1B2727;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-green-400: #364d3e; 
    --color-green-300: #49695d;
    --color-grey-300: #3a423f;
    --color-orange-600: #C7821E;
    --color-orange-500: #FFA726;
    --color-orange-400: #ffdb26;
    --color-orange-200: rgba(242, 242, 254, 0.7);
    --color-white: #f2f2fe;
    --color-bg: #9F807D;
    --transition: all 300ms ease;
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 3rem;
} 

/*Parte CSS Geral*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: black;
    overflow-x: hidden;
    background: #708673;
    /*  #FFAA66 #8DB3D9 #F5DEB3
        #5CA35C #FFE399 #FFEDFF    
    */
    font-size: 0.9rem;
}
.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}
section{
    margin-top: 3rem;
    width: 100vw;
}
h1,h2,h3,h4,h5{
    color: var(--color-white);
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
font-size: 1.7rem;
margin: 1rem 0;
}
h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4{
    font-size: 1rem;
}
a{
    color: var(--color-white);
    transition: var(--transition);
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/*Parte NavBar*/
nav{
    background: transparent;

    width: 100vw;
    height: 4.5rem;
    position: absolute;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
nav button{
    display: none;
}
.nav__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem solid var(--color-white);
}
.nav__logo{
    font-weight: 600;
    font-size: 1.2rem;

}
.nav__items{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__profile{
    position: relative;
    cursor: pointer;
}
.nav__profile ul{
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/*Mostrar opcao login dashboard*/
.nav__profile:hover>ul{
    visibility: visible;
    opacity: 1;
}
.nav__profile ul li a{
    padding: 1rem;
    background: var(--color-orange-500);
    color: black;
    font-weight: bold;
    display: block;
    width: 100%;
}
.nav__profile ul li:last-child a{
    background: var(--color-red);
    color: black;
    font-weight: bold;
}
/**********************************Title Index**************************/
.TitleIndex{
    font-weight: 600;
    font-size: 2rem;
    color: white;
    text-align: center;
}

/*********************************** Post ********************************************/
.post__thumbnail{ 
    border-radius: 0 20px 20px 0;
    border-left: 0.5rem solid var(--color-orange-500);
    overflow: hidden;
    margin-bottom: 1.6rem;
}
.post:hover .post__thumbnail img{
    filter: saturate(0);
    transition: filter 500ms ease;
}
.post__author{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}
.post__author-avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
}
.post_infos_houses{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}
.span{
    color:white;
    margin-right: 5px;
}

/****************************Featured - Banner Postagem ******************************/
.featured{
    margin-top: 2rem;
}
.featured__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.featured .post__thumbnail{
    height: fit-content;
}

/*Parte posts*/

.posts__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
    align-items: center; /*tirar após fixar tamanho img*/
}

/*Parte Section*/ 
.category__button{
    background: var(--color-primary-light);
    color: var(--color-primary);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}
.category__button:hover{
    color: var(--color-white);
}

/*Categories*/
.category__buttons{
    padding: 4rem 0;
    border-top: 2px solid var(--color-orange-500);
    border-bottom: 2px solid var(--color-orange-500);
}
.category__buttons-container{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/*Categories*/
footer{
    background: #11362a;
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.footer__socials{
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}
.footer__socials a{
    background: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__socials a:hover{
    background:#fff;
    color: #11362a;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
footer h4{
    color: var(--color-white);
    margin-bottom: 0.6rem;
}
footer ul a{
    opacity: 0.75;
}
footer ul a:hover{
    letter-spacing: 0.2rem;
    opacity: 1;
}
.footer__copyright{
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    margin-top: 4rem;
}

/*SearchBar*/
.search__bar{
    margin-top: 7rem;
}
.search__bar-container{
    position: relative;
    width: 30rem;
    background: var(--color-orange-600);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: white;
}
.search__bar-container > div{
    width: 100%;
    display: flex;
    align-items: center;
}
.search__bar input{
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}
.search__bar input::placeholder{
    color: black;
    font-weight: 400;
}
.search__bar button{
    color: white;
}

/*Button Part*/
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
}
.btn.sm{padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}
.btn.danger{
    background: var(--color-red);
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
}

/*Post Part*/
.singlepost{
    margin: 6rem 0 2rem;
}
.singlepost__container{
    width: var(--form-width);
    background: var(--color-orange-500);
    padding: 1rem 2rem 3rem;
}
.singlepost__thumbnail{
    margin: 1.5rem 0 1rem;
}
.singlepost__container p{
    margin-top: 1rem;
    line-height: 1.7;
}

/*Blog*/
.search__bar-container{
    width: var(--container-width-md);
}

/*Singlepost*/
.singlepost__container{
    background: transparent;
    padding: 0;
}


/*Categories*/
.category__title{
    height: 15rem;
    margin-top: 4.5rem;
    background: var(--color-orange-500);
    display: grid;
    place-items: center;
}

/*Empty Page*/
.empty__page{
    height: 70vh;
    display: grid;
    place-content: center;
}

/*########################## FORM PART ##################*/
.form__section-container{
    padding: 0rem;
}
.form__section{
    display: grid;
    place-items: center;
    height: 100vh;
}
.form__section form button{
    color: white;
}
.form__section-container{
    width: var(--form-width);
}
.alert__message{
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}
.alert__message.error{
    background: black;
    color: var(--color-red);
}
.alert__message.success{
    background: black;
    color: var(--color-green);
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form__control{
    display: flex;
    flex-direction: column;
    gap: 0.4rem ;
}
.form__control.inline{
    flex-direction: row;
    align-items: center;
}
input, textarea, select{
    padding: 0.8rem 1.4rem;
    background: var(--color-orange-500);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-white);
}
.form__section input::placeholder,textarea::placeholder{
    color: black;
    font-weight: 600;
}
.form__section small{
    margin-top: 1rem;
    display: block;
}
.form__section small a{
    color: black;
}

/*Dashboard Part*/
.dashboard{
    margin-top: 6rem;
}
.sidebar__toggle{
    display: none;
}
.dashboard__container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: var(--color-green-300);
    padding: 2rem;
    margin-bottom: 5rem;
    border-radius: var(--card-border-radius-3);
}
.dashboard aside{
    display: flex;
    align-items: center;
}
.dashboard aside a{
    background: var(--color-grey-300);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
    border-radius: var(--card-border-radius-2);
}
.dashboard aside ul li:not(:last-child) a{
    border-bottom: 1px solid var(--color-orange-600);
}
.dashboard aside a:hover{
    background: var(--color-orange-600);
}
.dashboard aside a:active{
    background: var(--color-orange-500);
}
.dashboard main{
    margin-left: 1.5rem;
}
.dashboard main h2{
    margin: 0 0 2rem 0;
    line-height: 1;
}
.dashboard main table{
    width: 100%;
    text-align: left;
}
.dashboard main table th{
    background: var(--color-grey-300);
    padding: 0.8rem;
    color: var(--color-white);
    border-radius: var(--card-border-radius-1);
}
.dashboard main table td{
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-orange-200);
}
.dashboard main table tr:hover td{
    background: var(--color-bg);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition) ;
}
/**************************Slider************************************/
.slider{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
    border-radius: 5px;
    /*box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);*/
}
.slides{ 
    width: 400%;
    height: 100%;
    display: flex;
}
.slides input {
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s ease;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.manual-navigation{
    position: absolute;
    width:800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s ease;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}
#radio1:checked ~ .first{ 
    margin-left: 0;
}
#radio2:checked ~ .first{ 
    margin-left: -25%;
}
#radio3:checked ~ .first{ 
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute; 
    width: 800px; 
    margin-top: 500px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{ 
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{ 
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto.auto-btn3{ 
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:#FFF;
}


/*Medias Queries*/
@media(max-width: 1024px){
    
    /*Parte geral*/
    .container{
        width: var(--container-width-md);
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.8rem;
    }
    /*Navbar*/
    nav button{
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }
    nav button#close__nav-btn{
        display: none;
    }
    .nav__container{
        position: relative;
    }
    .nav__items{
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        display: none;
    }
    .nav__items li{
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        border-top: 1px solid var(--color-bg);
        animation: animateDropdown 1s 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }
    .nav__items li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav__items li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav__items li:nth-child(4){
        animation-delay: 600ms;
    }
    .nav__items li:nth-child(5){
        animation-delay: 800ms;
    }
    .nav__items li:nth-child(6){
        animation-delay: 1s;
    }
    /*Animação*/
    @keyframes animateDropdown{
        0%{
            transform: rotateX(90deg);
        }
        100%{
            transform: rotateX(0deg);
            opacity: 1;
        }
    }
    .nav__items li a{
        border-radius: 0;
        width:100%;
        height: 100%;
        background: var(--color-orange-500);
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }
    .nav__profile{
        background: var(--color-orange-500);
    }
    .nav__profile ul{
        top:100%;
        width: 100%;
    }
    .nav__profile .avatar{
        margin-left: 2rem;
        border: 0;
    }
    .featured__container{
        gap: 3rem;
    }
    .posts__container{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .footer__container{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    /*Blog Part*/
    .search__bar-container{
        width: 60%;
    }
    /*Form Part*/
    .form__section-container{
        padding: 3rem;
    }

    /*Dashboard part*/
    .dashboard__container{
        grid-template-columns: 4.5rem auto;
        padding: 0;
        background: transparent;
    }
    .dashboard aside h5{
        display: none;
    }
    .dashboard main table thead{
        display: none;
    }
    .dashboard main table tr{
        display: flex;
        flex-direction: column;
        background: var(--color-grey-300);
        border-radius: var(--card-border-radius-2);
    }
    .dashboard main table tr:hover td{
        background: transparent;
    }
    /**************************Slider************************************/
    .slides {
        width: 400%;
    }
    .navigation-auto{
        display:none;
    }
    .manual-navigation{
        display: none;
    }
    /**************************Slider************************************/
}

/*Small Queries*/
@media(max-width: 800px){
    /**************************Slider************************************/
    .slider{
        height: 400px;
    }
    /**************************Slider************************************/
}

@media(max-width: 600px){
    section{
        margin-top:  2rem;
    }
    h1{
        font-size: 2rem;
    }
    .featured{
        margin-top: 6rem;
    }
    .featured__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .posts__container{
            grid-template-columns: 1fr;
    }
    .category__buttons-container{
        grid-template-columns: 1fr 1fr;
    }
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    /*Dashboard Part*/
    .dashboard{
        margin-top: 5rem;
    }
    .dashboard__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .dashboard main{
        margin: 0;
    }
    .dashboard main h2{
        margin-top: 1rem;
    }
    .dashboard aside{
        position: fixed;
        box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.4);
        left: -100%;
        height: 100vh;
        transition: var(--transition);
        background: var(--color-primary);
    }
    .dashboard .sidebar__toggle{
        display: inline-block;
        background: var(--color-primary-variant);
        color: var(--color-white);
        position: fixed;
        right: 0;
        bottom: 4rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        font-size: 1.3rem;
        cursor: pointer;
        box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
    }
    .dashboard aside a h5{
        display: inline-block;
    }
    #hide__sidebar-btn{
        display: none;
    }
    
}